@charset "UTF-8";

body{ 
    background-color: rgb(167, 167, 167);
    font-family: sans-serif;
    opacity: initial;
}
h1{font-size: xx-large;
    color: antiquewhite;
    background-color: black;

}  